<a href="https://colab.research.google.com/github/andrewm-bose/Data-Science-Bootcamp-Assignments/blob/master/MyExercises_Codewars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def abbrevName(name):
    names = name.rsplit(' ')
    initials = str(name[0].capitalize()) +'.'+ str(name[(name.find(' ')+1)].capitalize())
    return initials
    
print(abbrevName("sam harris"))
print(abbrevName("Sam Harris"))
print(abbrevName("Patrick Feenan"))
print(abbrevName("evan Cole"))
print(abbrevName("p Favuzzi"))
print(abbrevName("David mendieta"))

Given a non-empty array of integers, return the result of multiplying the values together in order. Example:

[1, 2, 3, 4] => 1 * 2 * 3 * 4 = 24

In [0]:
from functools import reduce
def grow(arr):
    return reduce(lambda i,j: i*j,arr)

In [0]:

tests = [
    [6 , [1, 2, 3]],
    [16, [4, 1, 1, 1, 4]],
    [64, [2, 2, 2, 2, 2, 2]],
]

for exp, inp in tests:
    print((grow(inp), exp))

(6, 6)
(16, 16)
(64, 64)

Description:
Remove n exclamation marks in the sentence from left to right. n is positive integer.

Examples

remove("Hi!",1) === "Hi"

remove("Hi!",100) === "Hi"

remove("Hi!!!",1) === "Hi!!"

remove("Hi!!!",100) === "Hi"

remove("!Hi",1) === "Hi"

remove("!Hi!",1) === "Hi!"

remove("!Hi!",100) === "Hi"

remove("!!!Hi !!hi!!! !hi",1) === "!!Hi !!hi!!! !hi"

remove("!!!Hi !!hi!!! !hi",3) === "Hi !!hi!!! !hi"

remove("!!!Hi !!hi!!! !hi",5) === "Hi hi!!! !hi"

remove("!!!Hi !!hi!!! !hi",100) === "Hi hi hi"
Note
Please don't post issue about difficulty or duplicate.

In [0]:
def remove(s, n):
  for i in range(n):
    s_lst = list(s)
    if '!' in s:
      s_lst[s.find('!')] = ''
      s = ''.join(s_lst)
    else:
      break
  return s
  
print(1,remove("Hi!",1), ' === "Hi"')
print(2,remove("Hi!",100), ' === "Hi"')
print(3,remove("Hi!!!",1), ' === "Hi!!"')
print(4,remove("Hi!!!",100), ' === "Hi"')
print(5,remove("!Hi",1), ' === "Hi"')
print(6,remove("!Hi!",1), ' === "Hi!"')
print(7,remove("!Hi!",100), ' === "Hi"')
print(8,remove("!!!Hi !!hi!!! !hi",1), ' === "!!Hi !!hi!!! !hi"')
print(9,remove("!!!Hi !!hi!!! !hi",3), ' === "Hi !!hi!!! !hi"')
print(10,remove("!!!Hi !!hi!!! !hi",5), '=== "Hi hi!!! !hi"')
print(11,remove("!!!Hi !!hi!!! !hi",100),'=== "Hi hi hi"')

1 Hi  === "Hi"
2 Hi  === "Hi"
3 Hi!!  === "Hi!!"
4 Hi  === "Hi"
5 Hi  === "Hi"
6 Hi!  === "Hi!"
7 Hi  === "Hi"
8 !!Hi !!hi!!! !hi  === "!!Hi !!hi!!! !hi"
9 Hi !!hi!!! !hi  === "Hi !!hi!!! !hi"
10 Hi hi!!! !hi === "Hi hi!!! !hi"
11 Hi hi hi === "Hi hi hi"

Sum Array
Write a method sum (sum_array in python, SumArray in C#) that takes an array of numbers and returns the sum of the numbers. These may be integers or decimals for Ruby and any instance of Num for Haskell. The numbers can also be negative. If the array does not contain any numbers then you should return 0.

Examples
print sum_array([1 2 3])
> 6
print sum_array([])
> 0
Assumptions
You can assume that you are only given numbers.
You cannot assume the size of the array.
You can assume that you do get an array and if the array is empty, return 0.

In [0]:
from functools import reduce
def sum_array(a):

    return reduce(lambda x,y: x+y, a) if a != [] else 0

print(sum_array([]), 0)
print(sum_array([1, 2, 3]), 6)
print(sum_array([1.1, 2.2, 3.3]), 6.6)
print(sum_array([4, 5, 6]), 15)
print(sum_array(range(101)), 5050)

0 0
6 6
6.6 6.6
15 15
5050 5050

Write a function, gooseFilter/goose_filter/GooseFilter, that takes an array of strings as an argument and returns a filtered array containing the same elements but with the 'geese' removed.

The geese are any strings in the following array, which is pre-populated in your solution:

geese = ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]
For example, if this array were passed as an argument:

["Mallard", "Hook Bill", "African", "Crested", "Pilgrim", "Toulouse", "Blue Swedish"]
Your function would return the following array:

["Mallard", "Hook Bill", "Crested", "Blue Swedish"]
The elements in the returned array should be in the same order as in the initial array passed to your function, albeit with the 'geese' removed. Note that all of the strings will be in the same case as those provided, and some elements may be repeated.

In [0]:
geese = ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]

def goose_filter(birds):
  b = birds
  remove = []
  [remove.append(bird) if bird in geese else remove for bird in birds] 
  [b.remove(bird) for bird in remove]
  return b

    
print(goose_filter(["Mallard", "Hook Bill", "African", "Crested", "Pilgrim", "Toulouse", "Blue Swedish"]),'\n', ["Mallard", "Hook Bill", "Crested", "Blue Swedish"])
print(goose_filter(["Mallard", "Barbary", "Hook Bill", "Blue Swedish", "Crested"]),'\n',["Mallard", "Barbary", "Hook Bill", "Blue Swedish", "Crested"])
print(goose_filter(["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]),'\n',[])

['Mallard', 'Hook Bill', 'Crested', 'Blue Swedish']
 ['Mallard', 'Hook Bill', 'Crested', 'Blue Swedish']
['Mallard', 'Barbary', 'Hook Bill', 'Blue Swedish', 'Crested']
 ['Mallard', 'Barbary', 'Hook Bill', 'Blue Swedish', 'Crested']
[]
 []

In [0]:
#BETTER VERSION
geese = ["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]

def goose_filter(birds):
  return [bird for bird in birds if bird not in geese]

print(goose_filter(["Mallard", "Hook Bill", "African", "Crested", "Pilgrim", "Toulouse", "Blue Swedish"]),'\n', ["Mallard", "Hook Bill", "Crested", "Blue Swedish"])
print(goose_filter(["Mallard", "Barbary", "Hook Bill", "Blue Swedish", "Crested"]),'\n',["Mallard", "Barbary", "Hook Bill", "Blue Swedish", "Crested"])
print(goose_filter(["African", "Roman Tufted", "Toulouse", "Pilgrim", "Steinbacher"]),'\n',[])

['Mallard', 'Hook Bill', 'Crested', 'Blue Swedish']
 ['Mallard', 'Hook Bill', 'Crested', 'Blue Swedish']
['Mallard', 'Barbary', 'Hook Bill', 'Blue Swedish', 'Crested']
 ['Mallard', 'Barbary', 'Hook Bill', 'Blue Swedish', 'Crested']
[]
 []

Suzuki is a monk who climbs a large staircase to the monastery as part of a ritual. Some days he climbs more stairs than others depending on the number of students he must train in the morning. He is curious how many stairs might be climbed over the next 20 years and has spent a year marking down his daily progress.

The sum of all the stairs logged in a year will be used for estimating the number he might climb in 20.

20_year_estimate = one_year_total * 20

You will receive the following data structure representing the stairs Suzuki logged in a year. You will have all data for the entire year so regardless of how it is logged the problem should be simple to solve.

stairs = [sunday,monday,tuesday,wednesday,thursday,friday,saturday]
Make sure your solution takes into account all of the nesting within the stairs array.

Each weekday in the stairs array is an array.

sunday = [6737, 7244, 5776, 9826, 7057, 9247, 5842, 5484, 6543, 5153, 6832, 8274, 7148, 6152, 5940, 8040, 9174, 7555, 7682, 5252, 8793, 8837, 7320, 8478, 6063, 5751, 9716, 5085, 7315, 7859, 6628, 5425, 6331, 7097, 6249, 8381, 5936, 8496, 6934, 8347, 7036, 6421, 6510, 5821, 8602, 5312, 7836, 8032, 9871, 5990, 6309, 7825]
Your function should return the 20 year estimate of the stairs climbed using the formula above.

In [0]:
from functools import reduce
 
def stairs_in_20(stairs):
  output = 0
  for i in stairs:
    output = output + sum(i)
  return output*20

#def stairs_in_20(stairs):
#    return sum(sum(day) for day in stairs) * 20
    

sunday = [6737, 7244, 5776, 9826, 7057, 9247, 5842, 5484, 6543, 5153, 6832, 8274,
          7148, 6152, 5940, 8040, 9174, 7555, 7682, 5252, 8793, 8837, 7320, 8478, 6063, 
          5751, 9716, 5085, 7315, 7859, 6628, 5425, 6331, 7097, 6249, 8381, 5936, 8496, 
          6934, 8347, 7036, 6421, 6510, 5821, 8602, 5312, 7836, 8032, 9871, 5990, 6309, 7825]

monday = [9175, 7883, 7596, 8635, 9274, 9675, 5603, 6863, 6442, 9500, 7468, 9719,
          6648, 8180, 7944, 5190, 6209, 7175, 5984, 9737, 5548, 6803, 9254, 5932, 7360, 9221, 
          5702, 5252, 7041, 7287, 5185, 9139, 7187, 8855, 9310, 9105, 9769, 9679, 7842,
          7466, 7321, 6785, 8770, 8108, 7985, 5186, 9021, 9098, 6099, 5828, 7217, 9387]

tuesday = [8646, 6945, 6364, 9563, 5627, 5068, 9157, 9439, 5681, 8674, 6379, 8292,
           7552, 5370, 7579, 9851, 8520, 5881, 7138, 7890, 6016, 5630, 5985, 9758, 8415, 7313,
           7761, 9853, 7937, 9268, 7888, 6589, 9366, 9867, 5093, 6684, 8793, 8116, 8493, 
           5265, 5815, 7191, 9515, 7825, 9508, 6878, 7180, 8756, 5717, 7555, 9447, 7703]

wednesday = [6353, 9605, 5464, 9752, 9915, 7446, 9419, 6520, 7438, 6512, 7102, 
             5047, 6601, 8303, 9118, 5093, 8463, 7116, 7378, 9738, 9998, 7125, 6445, 6031, 8710,
             5182, 9142, 9415, 9710, 7342, 9425, 7927, 9030, 7742, 8394, 9652, 5783, 7698, 
             9492, 6973, 6531, 7698, 8994, 8058, 6406, 5738, 7500, 8357, 7378, 9598, 5405, 9493]

thursday = [6149, 6439, 9899, 5897, 8589, 7627, 6348, 9625, 9490, 5502, 5723, 8197,
            9866, 6609, 6308, 7163, 9726, 7222, 7549, 6203, 5876, 8836, 6442, 6752, 8695, 8402,
            9638, 9925, 5508, 8636, 5226, 9941, 8936, 5047, 6445, 8063, 6083, 7383, 7548, 5066, 
            7107, 6911, 9302, 5202, 7487, 5593, 8620, 8858, 5360, 6638, 8012, 8701]

friday = [5000, 5642, 9143, 7731, 8477, 8000, 7411, 8813, 8288, 5637, 6244, 6589, 6362, 
         6200, 6781, 8371, 7082, 5348, 8842, 9513, 5896, 6628, 8164, 8473, 5663, 9501, 
         9177, 8384, 8229, 8781, 9160, 6955, 9407, 7443, 8934, 8072, 8942, 6859, 5617,
         5078, 8910, 6732, 9848, 8951, 9407, 6699, 9842, 7455, 8720, 5725, 6960, 5127]

saturday = [5448, 8041, 6573, 8104, 6208, 5912, 7927, 8909, 7000, 5059, 6412, 6354, 8943, 
            5460, 9979, 5379, 8501, 6831, 7022, 7575, 5828, 5354, 5115, 9625, 7795, 7003, 
            5524, 9870, 6591, 8616, 5163, 6656, 8150, 8826, 6875, 5242, 9585, 9649, 9838, 
            7150, 6567, 8524, 7613, 7809, 5562, 7799, 7179, 5184, 7960, 9455, 5633, 9085]


stairs = [sunday,monday,tuesday,wednesday,thursday,friday,saturday]
print(stairs_in_20(stairs), 54636040)

54636040 54636040

Our football team finished the championship. The result of each match look like "x:y". Results of all matches are recorded in the collection.

For example: ["3:1", "2:2", "0:1", ...]

Write a function that takes such collection and counts the points of our team in the championship. Rules for counting points for each match:

if x>y - 3 points
if x<y - 0 point
if x=y - 1 point
Notes:

there are 10 matches in the championship
0 <= x <= 4
0 <= y <= 4

In [0]:
def points(games):
  points = 0
  for i in games:
    x = i[0]
    y = i[2]
    if x>y:
      points += 3
    elif x==y:
      points +=1
  return points
  #return sum(3 if x > y else 0 if x < y else 1 for x, y in (score.split(":") for score in games))

print(points(['1:0','2:0','3:0','4:0','2:1','3:1','4:1','3:2','4:2','4:3']), 30)
print(points(['1:1','2:2','3:3','4:4','2:2','3:3','4:4','3:3','4:4','4:4']), 10)
print(points(['0:1','0:2','0:3','0:4','1:2','1:3','1:4','2:3','2:4','3:4']), 0)
print(points(['1:0','2:0','3:0','4:0','2:1','1:3','1:4','2:3','2:4','3:4']), 15)
print(points(['1:0','2:0','3:0','4:4','2:2','3:3','1:4','2:3','2:4','3:4']), 12)

30 30
10 10
0 0
15 15
12 12

Your job is to find the gravitational force between two spherical objects (obj1 , obj2).

input
Two arrays are give :

arr_val (value array), consists of 3 elements
1st element : mass of obj 1
2nd element : mass of obj 2
3rd element : distance between their centers
arr_unit (unit array), consists of 3 elements
1st element : unit for mass of obj 1
2nd element : unit for mass of obj 2
3rd element : unit for distance between their centers
mass units are :

kilogram (kg)
gram (g)
milligram (mg)
microgram (μg)
pound (lb)
distance units are :

meter (m)
centimeter (cm)
millimeter (mm)
micrometer (μm)
feet (ft)
Note
value of G = 6.67 x 10-11N.kg–2.m2

1ft = 0.3048m

1lb = 0.453592kg

return value must be Newton for force (obviously)

μ copy this from here to use it in your solution

In [0]:
G = 6.67*10**-11 #Nm2/kg2
def solution(arr_val, arr_unit) :

    #Unit Conversion Table
    m_dict = {'kg':1, 'g':10**3, 'mg':10**6, 'μg':10**9, 'lb':1/0.453592}
    d_dict = {'m':1, 'cm':100, 'mm':1000, 'μm':10**6, 'ft':1/0.3048}
    
    #CONVERT UNITS TO kg,kg,m   
    m1 = arr_val[0] /m_dict[arr_unit[0]]
    m2 = arr_val[1] /m_dict[arr_unit[1]]
    dist = (arr_val[2] /d_dict[arr_unit[2]])
    F = G*m1*m2/dist**2
    return F
    
    
print(solution([1000, 1000, 100], ["g", "kg", "m"]), 6.67e-12)
print(solution([1000, 1000, 100], ["g", "kg", "ft"]), 6.67e-12/(0.3048**2))
print(solution([1000, 1000, 100], ["kg", "kg", "m"]), 6.667e-9)
print(solution([1000, 1000, 100], ["kg", "kg", "cm"]), 0.0000667)

6.67e-12 6.67e-12
7.179528247945383e-11 7.179528247945384e-11
6.6699999999999995e-09 6.667e-09
6.67e-05 6.67e-05

In [0]:
units = {"kg": 1, "g": 1e-3, "mg": 1e-6, "μg": 1e-9, "lb": 0.453592,
         "m": 1, "cm": 1e-2, "mm": 1e-3, "μm": 1e-6, "ft": 0.3048,
         "G": 6.67e-11}

def solution(v, u):
    m1, m2, r = (v[i] * units[u[i]] for i in range(3))
    return units["G"] * m1 * m2 / r**2
  
print(solution([1000, 1000, 100], ["g", "kg", "m"]), 6.67e-12)
print(solution([1000, 1000, 100], ["g", "kg", "ft"]), 6.67e-12/(0.3048**2))
print(solution([1000, 1000, 100], ["kg", "kg", "m"]), 6.667e-9)
print(solution([1000, 1000, 100], ["kg", "kg", "cm"]), 0.0000667)

6.67e-12 6.67e-12
7.179528247945384e-11 7.179528247945384e-11
6.6699999999999995e-09 6.667e-09
6.67e-05 6.67e-05

A wolf in sheep's clothing
Wolves have been reintroduced to Great Britain. You are a sheep farmer, and are now plagued by wolves which pretend to be sheep. Fortunately, you are good at spotting them.

Warn the sheep in front of the wolf that it is about to be eaten. Remember that you are standing at the front of the queue which is at the end of the array:

[sheep, sheep, sheep, sheep, sheep, wolf, sheep, sheep]      (YOU ARE HERE AT THE FRONT OF THE QUEUE)
   7      6      5      4      3            2      1
If the wolf is the closest animal to you, return "Pls go away and stop eating my sheep". Otherwise, return "Oi! Sheep number N! You are about to be eaten by a wolf!" where N is the sheep's position in the queue.

Note: there will always be exactly one wolf in the array.

Examples
warn_the_sheep(["sheep", "sheep", "sheep", "wolf", "sheep"]) == 'Oi! Sheep number 1! You are about to be eaten by a wolf!'

warn_the_sheep(['sheep', 'sheep', 'wolf']) == 'Pls go away and stop eating my sheep'
F

In [0]:
def warn_the_sheep(queue):
    reorder = queue
    reorder.reverse()
    n = reorder.index('wolf')
    say = ['Pls go away and stop eating my sheep','Oi! Sheep number ' + 
           str(int(n)) + '! You are about to be eaten by a wolf!']
    return say[0] if n else say[1]
      
  
print(warn_the_sheep(['sheep', 'sheep', 'sheep', 'sheep', 'sheep', 'wolf', 'sheep', 'sheep']), '||Oi! Sheep number 2! You are about to be eaten by a wolf!')
print(warn_the_sheep(['sheep', 'wolf', 'sheep', 'sheep', 'sheep', 'sheep', 'sheep']), '||Oi! Sheep number 5! You are about to be eaten by a wolf!')
print(warn_the_sheep(['wolf', 'sheep', 'sheep', 'sheep', 'sheep', 'sheep', 'sheep']), '||Oi! Sheep number 6! You are about to be eaten by a wolf!')
print(warn_the_sheep(['sheep', 'wolf', 'sheep']), '||Oi! Sheep number 1! You are about to be eaten by a wolf!')
print(warn_the_sheep(['sheep', 'sheep', 'wolf']), '||Pls go away and stop eating my sheep')

Pls go away and stop eating my sheep ||Oi! Sheep number 2! You are about to be eaten by a wolf!
Pls go away and stop eating my sheep ||Oi! Sheep number 5! You are about to be eaten by a wolf!
Pls go away and stop eating my sheep ||Oi! Sheep number 6! You are about to be eaten by a wolf!
Pls go away and stop eating my sheep ||Oi! Sheep number 1! You are about to be eaten by a wolf!
Oi! Sheep number 0! You are about to be eaten by a wolf! ||Pls go away and stop eating my sheep

Complete the function which takes two arguments and returns all numbers which are divisible by given divisor. First argument is an array of numbers and the second is the divisor.

Example
divisible_by([1, 2, 3, 4, 5, 6], 2) == [2, 4, 6]

In [0]:
def divisible_by(numbers, divisor):
  return [i for i in numbers if not i%divisor]
  
  Test.describe("Fixed tests")
print(divisible_by([1,2,3,4,5,6], 2), [2,4,6])
print(divisible_by([1,2,3,4,5,6], 3), [3,6])
print(divisible_by([0,1,2,3,4,5,6], 4), [0,4])
print(divisible_by([0], 4), [0])
print(divisible_by([1,3,5], 2), [])

[2, 4, 6] [2, 4, 6]
[3, 6] [3, 6]
[0, 4] [0, 4]
[0] [0]
[] []

Given a sequence of items and a specific item in that sequence, return the item immediately following the item specified. If the item occurs more than once in a sequence, return the item after the first occurence. This should work for a sequence of any type.

When the item isn't present or nothing follows it, the function should return nil in Clojure and Elixir, Nothing in Haskell, undefined in JavaScript, None in Python.

next_item([1, 2, 3, 4, 5, 6, 7], 3) # => 4
next_item(['Joe', 'Bob', 'Sally'], 'Bob') # => "Sally"

In [0]:
def next_item(xs, item):
    lst = list(xs)
    return None if item not in lst \
       or lst.index(item) == len(lst)-1 \
       else lst[lst.index(item) +1 ]  
    
print(next_item([1, 2, 3, 4, 5, 6, 7, 8], 5), 6)
print(next_item(['a', 'b', 'c'], 'd'), None)
print(next_item(['a', 'b', 'c'], 'c'), None)
print(next_item('testing', 't'), 'e')
print(next_item(iter(range(1, 30000)), 12), 13)

6 6
None None
None None
e e
13 13

Given 2 elevators (named "left" and "right") in a building with 3 floors (numbered 0 to 2), write a function elevator accepting 3 arguments (in order):

left - The current floor of the left elevator
right - The current floor of the right elevator
call - The called floor, i.e. the floor you want to reach
It should return the name of the elevator closest to the called floor ("left"/"right").

In the case where both elevators are equally distant from the called floor, choose the elevator to the right.

You can assume that the inputs will always be valid integers between 0-2.

Examples:

elevator(0, 1, 0) # => "left"
elevator(0, 1, 1) # => "right"
elevator(0, 1, 2) # => "right"
elevator(0, 0, 0) # => "right"
elevator(0, 2, 1) # => "right"

In [0]:
def elevator(left, right, call):
    return 'right' if abs(right - call) <= abs(left - call) else 'left'
  

print(elevator(0, 1, 0), "left")
print(elevator(0, 1, 1), "right")
print(elevator(0, 1, 2), "right")
print(elevator(0, 0, 0), "right")
print(elevator(0, 2, 1), "right")

left left
right right
right right
right right
right right

You get an array of numbers, return the sum of all of the positives ones.

Example [1,-4,7,12] => 1 + 7 + 12 = 20

Note: if there is nothing to sum, the sum is default to 0.

In [0]:
def positive_sum(arr):
  return sum(i for i in arr if i >0)
  

print(positive_sum([1,2,3,4,5]),15)
print(positive_sum([1,-2,3,4,5]),13)
print(positive_sum([-1,2,3,4,-5]),9)
print(positive_sum([]),0)
print(positive_sum([-1,-2,-3,-4,-5]),0)

15 15
13 13
9 9
0 0
0 0